/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo permanece a mesma */
}

header {
    background: #003366; /* Azul escuro */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Usar flexbox para o layout do menu */
    justify-content: center; /* Centraliza os itens do menu */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff; /* Cor do texto do menu */
    text-decoration: none;
    padding: 10px 15px; /* Adiciona padding para aumentar a área clicável */
    border-radius: 5px; /* Faz os links do menu ficarem arredondados */
    background-color: #00509e; /* Azul mais claro para o fundo dos itens do menu */
    transition: background-color 0.3s; /* Transição suave para a mudança de cor */
}

nav ul li a:hover {
    background-color: #003366; /* Cor de fundo ao passar o mouse */
}

main {
    padding: 20px;
    max-width: 800px; /* Limita a largura máxima do conteúdo principal */
    margin: 20px auto; /* Centraliza o conteúdo principal */
}

h2 {
    color: #003366; /* Azul escuro para os títulos */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #003366; /* Azul escuro */
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media Queries para responsividade */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column; /* Muda a direção da lista para coluna em telas menores */
        align-items: center; /* Centraliza os itens do menu */
    }

    nav ul li {
        margin: 10px 0; /* Adiciona margem vertical entre os itens do menu */
    }

    nav ul li a {
        padding: 10px; /* Ajusta o padding para melhor usabilidade em telas menores */
        width: 100%; /* Faz os links ocuparem 100% da largura do contêiner */
        text-align: center; /* Centraliza o texto dos links */
    }

    main {
        padding: 10px; /* Reduz o padding em telas menores */
    }
}
